@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Aluno"]</p>
<address>
    <strong>Contato: </strong> <a href="teste@gmail.com">teste@gmail.com</a>
</address>
